/* started header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 100;

}
.header ul {
    display: flex;
}
.header li {
    padding-left: 30px;
    color: #3d37f1;
}
.burger {
    display: none;
}

/* first Section */
.section1 {
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}
.div-left {
    margin-right: 70px;
}
.h2-s1 {
    max-width: 636px;
    width: 90%;
    font-size: 78px;
}
.h5-s1 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 90px;
}
.waveme {
    width: 263px;
    height: 76px;
    border-radius: 38px;
    background-color: #3D37F1;
    display: flex;
    align-items: center;
}
.waveme p {
    font-size: 23px;
}
.waveme img {
    margin-left: 43px;
    margin-right: 30px;
}
.div-right img {
    width: 100%;
}

/* section two */
.section2 {
    max-width: 1169px;
    width: 85%;
    margin: 200px auto;
}
.div-top {
    width: 714px;
    height: 221px;
    margin: 10px auto;
    text-align: center;

}
.div-top h4 {
    color: #3D37F1;
    font-size: 20px;
}
.div-top h2 {
    color: #5A5454;
    font-size: 40px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.div-top h5 {
    color: #747474;
    font-size: 18px;
    max-width: 700px;
    width: 90%;
    height: 85px;
}

/*div bottom */
.div-bottom {
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.div1 {
    text-align: center;
    width: 360px;
    height: 451px;
}
.div1 img {
    margin: 85px 0 53px;
}
.div1 h2 {
    font-size: 22px;
}
.div1 p {
    font-size: 16px;
    margin: 14.1px 0px 11px;
}
.readmore1 {
    width: 131px;
    height: 45px;
    background-color: #fff;
    border-radius: 23px;
    margin: 0 auto;
}
.readmore1 p {
    font-size: 15px;
    padding: 13px;
}

/* pseudo classes */
.div1:nth-child(1) {
    background-color: #FBBA77;
}
.div1:nth-child(2) {
    background-color: #41EAE3;
}
.div1:nth-child(3) {
    background-color: #69529F;
}
.div1:nth-child(4) {
    background-color: #4386D2;
}
.div1:nth-child(5) {
    background-color: #A5A2F6;
}
.div1:nth-child(6) {
    background-color: #FF8088;
}